.sidebar {
  background-color: #7c7c7c;
  color: blueviolet;
  width: 250px;
  position: fixed; /* Make the sidebar fixed */
  top: 0;
  left: 0;
  height: 100vh; /* Full height */
  padding-top: 20px;
  z-index: 1000; /* Make sure it's on top of other elements */
}

.sidebar ul li button {
  background-color: rgb(211, 211, 211);
  border: none;
  padding: 10px;
  font-size: 16px;
  text-decoration: none;

}

.sidebar ul li button:hover,
.sidebar ul li .dropdown-item:hover {
  background-color: gray;
  color: rgb(175, 175, 92);
}

.sidebar ul li .dropdown-item {
  background-color: rgb(255, 255, 255);
  padding: 8px;
  text-decoration: none;
  color: black;
}

.sidebar ul li .dropdown-item:hover {
  background-color: gray;
  color: yellow;
}

/* Adjust content next to the sidebar */
.content {
  margin-left: 250px; /* To account for the fixed sidebar width */
  padding: 20px;
}
